@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background: linear-gradient(
		135deg,
		hsla(248, 62%, 37%, 1) 0%,
		hsla(248, 39%, 12%, 1) 100%
	);
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

p {
	@apply tracking-wide;
}

@layer base {
	[data-nextjs-scroll-focus-boundary] {
		display: contents;
	}
}

button {
	background-color: transparent;
}
